{% extends "layout.html" %}
{% block content %}
    <h3>Group: {{ class_name }}, Date: {{ date }}</h3>
    {% if attendance_started %}
        {% if prof %}
            Stop attendance taking to send email and edit attendances
        {% else %}
            Stop attendance taking to edit attendances
        {% endif %}
    {% else %}
        {% if prof %}
            <a type="button" class="btn btn-outline-salmon" href="/send_absentee_email/{{ class_date_id }}" >Send Absentee Email</a>
            <a type="button" class="btn btn-outline-salmon" href="{{ url_for('edit_attendance', class_date_id=class_date_id) }}">Edit Attendances</a>
        {% else %}
            <a type="button" class="btn btn-outline-salmon" href="{{ url_for('edit_attendance', class_date_id=class_date_id) }}">Edit Attendances</a>
        {% endif %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Seat No</th>
                <th scope="col">Name</th>
                <th scope="col">Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for attend in attendances %}
            <tr>
                <td>{{ attend.seatNo }}</td>
                <td>{{ attend.student.name }}</td>
                <td>{{ attend.attendance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}